<div class="w-full">
  <div class="flex flex-col justify-between items-center p-2 mx-auto rounded-md w-[16rem] text-base bg-gradient-to-b from-foam to-pine">
    <div class="text-center">
      <h2 class="text-md font-semibold text-gold"><%= @date.strftime("%B %e") %></h2>
    </div>

    <% if show_current? %>
      <div class="current">Current: <%= current %>°</div>
    <% end %>

    <img src="<%= @image %>" alt="<%= @description %>" class="w-18 h-18 mx-auto" />

    <div class="mb-2 text-3xl font-semibold">
      <%= @high %>°
      <span class="mx-1 font-normal">/</span>
      <%= @low %>°
    </div>

    <p class="text-gold"><%= @description %></p>
  </div>
</div>
